    <div class="container-fluid">
       <div class="row-fluid">

          <p>Number of conferences: <span class="badge badge-inverse">{{conferences.length}}</span></p>

           <div class="span4">
               <legend>Conferences <button class="btn btn-small" id="add-conference-button" data-placement="bottom" title="Add conference" type="button" ng-click="addConference()"><i class="icon-plus"></i></button></legend>

                <table>
                    <tbody>
                        <tr ng-repeat="conference in conferences">
                            <td>
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td>
                                               <span class="lead"><a href ng:click="loadConferenceDetails(conference.id)">{{conference.title}}</a> on <strong>{{conference.begin | date:'dd-MMM'}}</strong></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Starts at <strong>{{conference.begin | date:'HH:mm'}}</strong> and ends at <strong>{{conference.end | date:'HH:mm'}}</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            <a href="#/conferences/{{conference.id}}"><button id="edit-conference-button" data-placement="bottom" title="Edit conference" class="btn btn-small" type="button"><i class="icon-edit"/></button></a>&nbsp;&nbsp;
                                            <button id="delete-conference-button" data-placement="bottom" title="Remove conference"  class="btn btn-small" type="button" ng-click="removeConference(conference.id)"><i class="icon-trash"></i></button>
                                          </td>
                                        </tr>
                                        <script>
                                          // TODO: make the js tooltip work on all conferences in the list, not only the first one. Make id unique?
                                          $('#edit-conference-button').tooltip();
                                          $('#delete-conference-button').tooltip();
                                        </script>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
           </div>
           <div class="span6">
               <legend>{{conference.title}} ({{conference.begin | date:'d MMMM'}}) session list</legend>

               <table class="table table-striped" ng-repeat="slot in slots.slots">
                   <thead>
                     <tr>
                       <td><h4>Sessions planned from {{slot.from  | date:'HH:mm'}} until {{slot.to  | date:'HH:mm'}}</h4></td>
                     </tr>
                   </thead>
                   <tbody>
                     <tr ng-repeat="session in slot.sessions">
                       <td>
                         <h5>{{session.title}}</h5>
                         <small>{{session.description}}</small>
                         <p><br/>by <any ng-repeat="author in session.authors">{{author.name}}<span ng-show=" ! $last ">, </span></any> in <strong>{{session.location.description}}</strong></p>
                         <p><any ng-repeat="label in session.labels"><span class="label label-info">{{label}}</span> </any></p>
                       </td>
                     </tr>
                   </tbody>
               </table>
           </div>
       </div>
      <script>
        $('#edit-conference-button').tooltip();
        $('#delete-conference-button').tooltip();
        $('#add-conference-button').tooltip();
        $('#add-session-button').tooltip();
      </script>
    </div>



