<div id="settingsholder">

  <form>
    <fieldset>
      <legend>Add/change conference: {{conference.title}}</legend>

      <label>Conference name</label>
      <input id="conference-title" data-content="Enter a name/short identifying description of the conference." data-trigger="hover" type="text" ng-model="conference.title" />

      <label>Start date (dd-mm-yyyy)</label>
      <div class="control-group input-append">
        <input type="text" ng-model="conferenceBeginDate" data-date-format="dd-mm-yyyy" bs-datepicker>
        <button id="date-picker-start-button" data-placement="bottom" title="Select start date" type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
      </div>

      <label>Start time (hh:mm)</label>
      <div class="control-group input-append">
        <input type="text" ng-model="conferenceBeginTime" />
      </div>

      <label>End date (dd-mm-yyyy)</label>
      <div class="control-group input-append">
        <input type="text" ng-model="conferenceEndDate" data-date-format="dd-mm-yyyy" bs-datepicker>
        <button id="date-picker-end-button" data-placement="bottom" title="Select end date" type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
      </div>

      <label>End time (hh:mm)</label>
      <div class="control-group input-append">
        <input type="text" ng-model="conferenceEndTime" />
      </div>

      <p>
        <div class="btn-group">
          <button id="save-conference-button" data-placement="bottom" title="Save conference" type="submit" class="btn" ng-click="save()" value="Save"><i class="icon-ok-circle"></i></button>
          <button id="delete-conference-button" data-placement="bottom" title="Remove conference" type="submit" class="btn" ng-click="remove()" value="Remove"><i class="icon-trash"></i></button>
          <button id="reset-conference-button" data-placement="bottom" title="Clear all input" type="reset" class="btn" value="Reset">Clear</button>
        </div>
      </p>

    </fieldset>
  </form>
  <hr/>

  <script>
    $('#conference-title').popover()
    $('#date-picker-start-button').tooltip();
    $('#date-picker-end-button').tooltip();
    $('#save-conference-button').tooltip();
    $('#delete-conference-button').tooltip();
    $('#reset-conference-button').tooltip();
  </script>

</div>